* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffcbf4;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 30px;
    background-color: #fda3e945;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.button{
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}