* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    border-radius: 10px;
    background-color: #f5a5d5;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.canvas{
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    cursor: crosshair;
}